{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "dot-notation": 0,
    "no-console": 0,
    "linebreak-style": 0,
    "no-underscore-dangle": 0,
    "react/prop-types": 0,
    "jax-a11y": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/anchor-is-valid": [
      0,
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "jsx-a11y/label-has-for": [
      0,
      {
        "components": ["Label"],
        "required": {
          "every": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  }
}
